@import "tailwindcss";
body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    background: #000;
}


/* === Default state sebelum muncul === */

.reveal {
    opacity: 0;
    transition: opacity .8s ease, transform .8s ease;
}


/* === Initial states === */

.reveal[data-reveal="up"] {
    transform: translateY(40px);
}

.reveal[data-reveal="down"] {
    transform: translateY(-40px);
}

.reveal[data-reveal="left"] {
    transform: translateX(-40px);
}

.reveal[data-reveal="right"] {
    transform: translateX(40px);
}

.reveal[data-reveal="fade"] {
    transform: translateY(0);
}


/* === Active states === */

.reveal.active {
    opacity: 1;
    transform: translate(0, 0);
}


/* Gerakan float naik-turun */

@keyframes floatDownUp {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(15px);
        /* turun */
    }
    100% {
        transform: translateY(0);
        /* balik naik */
    }
}


/* Fast floating */

.animate-float-fast {
    animation: floatDownUp 2.2s ease-in-out infinite;
}


/* Slow floating */

.animate-float-slow {
    animation: floatDownUp 4.5s ease-in-out infinite;
}


/* Glow Background Animations */

@keyframes glowGreen {
    0%,
    100% {
        transform: scale(1) translate(0, 0);
        opacity: 0.3;
    }
    50% {
        transform: scale(1.2) translate(20px, 20px);
        opacity: 0.45;
    }
}

@keyframes glowCyan {
    0%,
    100% {
        transform: scale(1) translate(0, 0);
        opacity: 0.3;
    }
    50% {
        transform: scale(1.2) translate(-20px, -20px);
        opacity: 0.45;
    }
}

.animate-glowGreen {
    animation: glowGreen 10s ease-in-out infinite;
}

.animate-glowCyan {
    animation: glowCyan 12s ease-in-out infinite;
}


/* component */

.grid-bg {
  position: relative;
  overflow: hidden;
}

.grid-bg::before {
  content: "";
  position: absolute;
  inset: 0;
  background-size: 100px 100px; /* ukuran kotak grid */
  background-image:
    linear-gradient(to right, rgba(255, 255, 255, 0.07) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.07) 1px, transparent 1px);
  opacity: 1; /* supaya soft */
  pointer-events: none;
}
